:root {
  /* Color */
  /* --primary-color: black;
  --secondary-color: white;
  --accent-color: green;
  --text-color: blue;
  --background-color: red; */
  --primary-color: #2b285b;
  --secondary-color: #5ebeb3;
  --text-color: whitesmoke;
  --dark-gray:#333;

  /* Typography */
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --font-size: 16px;
  --font-weight: 400;

  /* Base */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

